<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="./static/assets/favicon.ico">
  <link rel="stylesheet" href="./static/bootstrap-5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/balloon.min.css">
  <link rel="stylesheet" href="./static/css/style.css">
  <title>계산기</title><!-- 농산물 온실가스 배출량 산정 계산기 -->
</head>

<body>
  <script type="importmap">
    {
      "imports": {
        "vue": "./static/js/vue.esm-browser.js"
      }
    }
  </script>
  <script type="module">
    import { createApp } from 'vue';
    import { getRowIdsByGroup, Areas } from './store/store.js';
    import AppRow from './component/Grid.js';
    import AppMain from './component/Main.js';
    import AppModal from './component/Modal.js';
    import Big from './static/js/big.mjs';
    import Utils from './static/js/utils.js';

    createApp({
      components: {
        AppRow,
        AppMain,
        AppModal,
      },
      data: () => ({
        stepAList: getRowIdsByGroup('A'),
        stepBList: getRowIdsByGroup('B'),
        stepCList: getRowIdsByGroup('C'),
        main: {},
        ghg: '0',
        invalid: true,
      }),
      mounted() {
        Utils.formValidThenShowResult('resultModal', this.onGhgResult);
      },
      methods: {
        onGridData(main) {
          this.invalid = !(main.item.id && main.area.id);
          this.main = main;
        },
        onAddGhg(rowValue) {
        },
        onGhgResult(result) {
          this.ghg = result;
        },
        onClose() {
          window.close();
        }
      }
    }).mount('#app');
  </script>

  <script src="./static/bootstrap-5.1.3/js/bootstrap.min.js"></script>
  <script src="./static/js/fontawesome-all.js"></script>
  <div id="app" class="app-container container-xl p-0 border border-light border-top-0">
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid container-xl">
        <a class="navbar-brand" href="/">Sticky top</a>
        <button type="button" class="btn-close" @click="onClose" aria-label="👋 창 닫기"
          data-balloon-pos="down-right"></button>
      </div>
    </nav>
    <form id="gridForm" class="needs-validation" novalidate>
      <main class="container-fluid my-3">
        <app-main @grid-data="onGridData"></app-main>
        <hr>
        <div class="row mt-2">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary" :disabled="invalid">
              <i class="fa-solid fa-calculator"></i> 계산하기
            </button>
            <app-modal :ghg="ghg"></app-modal>
          </div>
        </div>
      </main>
      <section class="container-fluid">
        <div class="row mb-3 callout callout-info">
          <div class="col-1 text-wrap">
            <h4>첫 번째</h4>단계
          </div>
          <div class="col">
            <app-row v-for="rowid in stepAList" :rowid="rowid" :main="main" @add-ghg="onAddGhg"></app-row>
          </div>
        </div>
        <div class="row mb-3 callout callout-warning">
          <div class="col-1 text-wrap">
            <h4>두 번째</h4>
          </div>
          <div class="col">
            <app-row v-for="rowid in stepBList" :rowid="rowid" :main="main" @add-ghg="onAddGhg"></app-row>
          </div>
        </div>
        <div class="row mb-3 callout callout-danger">
          <div class="col-1 text-wrap">
            <h4>기타</h4>
          </div>
          <div class="col">
            <app-row v-for="rowid in stepCList" :rowid="rowid" :main="main" @add-ghg="onAddGhg"></app-row>
          </div>
        </div>
      </section>
    </form>
  </div>
</body>

</html>